@import "./navbar.css";
@import "./jumbotron.css";
@import "./footer.css";
@import "./scrollarrow.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}